name: Ci branch

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2
        with:
          node-version: 16.x
      - run: yarn install
      - run: npm install -g nx
      - name: Lint mono
        run: nx affected:lint --base 'origin/master'
      - name: Build mono
        run: nx affected:build --base 'origin/master'
      - name: Deploy mono
        if: ${{ github.ref == 'refs/heads/master' }}
        run: nx affected:deploy --base 'origin/master~1'
